.hghg{
    border-radius: 0;
    color: black;
  }
  nav a {
      font-family: sans-serif;
      text-decoration: none;
      color: gray;
      position: relative;
      margin: 10px 0;
      display: inline-block;
      padding: 12px 10px;
    }
    
    nav a::after {
      content: "";
      background: blue;
      height: 1px;
      position: absolute;
      bottom: 0;
      transition: .16s all 0.025s;
    }
    
   
  nav a::after {
      left: 100%;
      right: 0;
    }
    
  
    nav a:hover ~ a::after {
      left: 0;
      right: 100%;
    }
    
    nav a:hover::after {
      left: 0;
      right: 0;
    }
  
  .osad{
      background-color: #fff;
  }
  
  .card{
      float: right;
      border: none;
  }
  .buy{
      background-color: #aa00ff;
      border: none;
  }
  .smalc{
      background-color: #fff;
      color: #aa00ff;
  }
  
  .jumbotron{
    background-color: #f9fafb;
  }
  hr{
    display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      padding: 0;
  }