.navbar-container {
    background-color: #eaecef;
}

*,
 :after,
 :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

div {
    display: block;
}

.widget-container {
    width: 100%;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    -webkit-box-shadow: 0 2px 8px hsl(0deg 0% 73% / 50%);
    box-shadow: 0 2px 8px hsl(0deg 0% 73% / 50%);
    font-family: Roboto Condensed, Verdana, sans-serif;
    margin: 0 auto;
    margin-top: 22px;
    padding-bottom: 20px;
    outline: 0;
    padding: 0;
    position: relative;
    max-width: 68em;
}

.navbar-container .navbar {
    border-bottom: 1px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Source Sans Pro, Verdana, sans-serif;
    font-size: 14px;
    line-height: .86;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.navbar-container .navbar .inactive-state {
    position: relative;
}

.navbar-container .navbar li {
    float: left;
    width: 18%;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.navbar-container .navbar {
    border-bottom: 1px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Source Sans Pro, Verdana, sans-serif;
    font-size: 14px;
    line-height: .86;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
}

.info-page {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 28.75rem;
    padding-bottom: 1.75rem;
    background-image: url(//img.wbmdstatic.com/webmd_static_vue/091e9c5e819581e5/img/sc-background-image-ngen.a3802848.webp);
}

*,
 :after,
 :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.info-page .info-form {
    text-align: center;
}

*,
 :after,
 :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.info-page .info-page-container .info-form .section-logo {
    padding-bottom: 0.4375rem;
    padding-top: 1.875rem;
}

.center {
    text-align: center;
}

.info-page .info-page-container .info-form .section-logo img {
    height: 1.625rem;
    margin-bottom: -0.1875rem;
}

.logo-header-text {
    color: #140d3d;
    display: inline;
    font-family: Source Sans Pro, Verdana, sans-serif;
    font-size: 2rem;
    padding-left: 0.3125rem;
    text-align: left;
}

a.skipLink,
h1 {
    font-weight: 400;
    text-align: left;
}

h1 {
    color: #554c57;
    font-size: 26px;
    line-height: 1;
    margin: 0;
    margin-top: 49px;
}

h1 {
    font-size: 3rem;
    line-height: 1.04;
}

h1,
h2,
h3,
h4 {
    color: #333132;
}

h1 {
    margin: 0.67em 0;
}

*,
 :after,
 :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.center {
    text-align: center;
}

.info-page .info-form {
    text-align: center;
}

body {
    letter-spacing: -.017069rem;
}

.info-page .info-page-container .info-form .beta-logo {
    color: #0f83d1;
    font-size: 1rem;
    line-height: .75;
    padding-left: 0.125rem;
    text-shadow: 0 1px 2px hsl(0deg 0% 100% / 93%);
}

.beta-logo {
    color: #0f83d1;
    font-size: 16px;
    line-height: .75;
    padding-left: 2px;
    text-shadow: 0 1px 2px hsl(0deg 0% 100% / 93%);
}

.logo-header-text {
    color: #140d3d;
    display: inline;
    font-family: Source Sans Pro, Verdana, sans-serif;
    font-size: 2rem;
    padding-left: 0.3125rem;
    text-align: left;
}

a.skipLink,
h1 {
    font-weight: 400;
    text-align: left;
}

h1 {
    color: #554c57;
    font-size: 26px;
    line-height: 1;
    margin: 0;
    margin-top: 49px;
}

h1 {
    font-size: 3rem;
    line-height: 1.04;
}

h1,
h2,
h3,
h4 {
    color: #333132;
}

.info-page .info-page-container .info-form .intro-text {
    color: #4a4a4a;
    font-family: Source Sans Pro, Verdana, sans-serif;
    font-size: 1.25rem;
    line-height: 1.3;
    margin-bottom: 1.125rem;
}

p {
    line-height: 1.24;
}

.info-page .info-form {
    text-align: center;
}

.info-page .info-page-container .info-form .legal-text-container .legal-text-header {
    color: #4a4a4a;
    display: block;
    font-size: .8125rem;
    letter-spacing: .5px;
    line-height: 1.33;
}

.info-page .info-page-container .info-form .legal-text-container .legal-text-header .disclaimer-header {
    color: #1f97dc;
    display: inline;
    cursor: pointer;
    outline: none;
}

.arrow-down {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-bottom: 2px;
    margin-left: 1px;
}

.arrow,
.arrow-down,
.arrow-up {
    border: solid #197fba;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
}

.info-page .info-page-container .info-form .legal-text-container .legal-text-header .disclaimer-header {
    color: #1f97dc;
    display: inline;
    cursor: pointer;
    outline: none;
}

.info-page .info-page-container .info-form .legal-text-container .legal-text-header {
    color: #4a4a4a;
    display: block;
    font-size: .8125rem;
    letter-spacing: .5px;
    line-height: 1.33;
}

.info-page .info-page-container .info-form .legal-text-container p {
    color: #4a4a4a;
    font-family: Roboto Condensed, Verdana, sans-serif;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.29;
    margin: 0 auto;
    width: 60%;
}

.arrow-up {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin-bottom: -2px;
    margin-left: 1px;
}

.arrow,
.arrow-down,
.arrow-up {
    border: solid #197fba;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
}

.info-page .info-page-container .info-form .legal-text-container p {
    color: #4a4a4a;
    font-family: Roboto Condensed, Verdana, sans-serif;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.29;
    margin: 0 auto;
    width: 60%;
}

.info-page .info-page-container .info-form .info-inputs {
    margin: 1.4375rem auto 2.625rem auto;
    text-align: center;
}

form {
    display: block;
    margin-top: 0em;
}

.info-page .info-form {
    text-align: center;
}

.info-page .info-page-container .info-form .info-inputs .input-form-fields {
    display: inline-table;
}

.info-page .info-page-container .info-form .info-inputs .label-text {
    color: #554c57;
    font-family: Source Sans Pro, Verdana, sans-serif;
    font-size: 1.3125rem;
    font-weight: 400;
    text-shadow: 0 1px 2px hsl(0deg 0% 100% / 99%);
    white-space: nowrap;
}

label {
    display: block;
    margin-bottom: 0.3575em;
}

.info-page .info-page-container .info-form .info-inputs {
    margin: 1.4375rem auto 2.625rem auto;
    text-align: center;
}

.webmd-input__div {
    color: #444;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    outline: 0;
    position: relative;
}

.webmd-autocomplete-suggestion,
.webmd-input__div,
.webmd-input__prefix,
.webmd-input__suffix {
    font-family: Source Sans Pro, Tahoma, sans-serif;
}

.webmd-input__div,
.webmd-input__prefix,
.webmd-input__suffix {
    font-family: Source Sans Pro, Tahoma, sans-serif;
}

.info-page .info-page-container .info-form .info-inputs #age {
    font-family: Source Sans Pro, Verdana, sans-serif;
    height: 3.125rem;
    padding: 0;
    text-align: center;
    width: 3.75rem;
}

.info-page .info-page-container .info-form .info-inputs input[type=number] {
    font-size: 1rem;
    -moz-appearance: textfield;
}

.global-input,
.info-page .info-page-container .info-form .info-inputs .input-form-fields input {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c8c8c8;
    -webkit-box-shadow: rgb(31 49 70 / 25%) 0 0 1px 0 inset;
    box-shadow: inset 0 0 1px 0 rgb(31 49 70 / 25%);
    color: #393939;
    font-family: Source Sans Pro, Verdana, sans-serif;
    font-size: 17px;
    line-height: .88;
    text-align: center;
    -o-object-fit: contain;
    object-fit: contain;
}

.webmd-input__inner {
    -webkit-appearance: none;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #444;
    font-family: Source Sans Pro, Tahoma, sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    height: 40px;
    letter-spacing: normal;
    line-height: 1;
    padding: 0 0.9375rem 0 1rem;
    text-align: left;
    width: 100%;
}

.webmd-input__inner,
.webmd-label,
.webmd-label.labelup {
    font-weight: 400;
    letter-spacing: normal;
}

.webmd-button,
.webmd-input__inner,
.webmd-message-box.large,
.webmd-textarea__inner {
    -webkit-box-sizing: border-box;
}

.webmd-button,
.webmd-input__inner {
    -webkit-appearance: none;
    font-stretch: normal;
    -webkit-box-sizing: border-box;
}

button,
input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

*,
 :after,
 :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

input[type="number" i] {
    padding: 1px 2px;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.info-page .info-page-container .info-form .info-inputs .input-form-fields:nth-child(2) {
    margin-left: 3.4em;
}

.info-page .info-page-container .info-form .info-inputs .input-form-fields {
    display: inline-table;
}

.info-page .info-page-container .info-form .info-inputs .label-text {
    color: #554c57;
    font-family: Source Sans Pro, Verdana, sans-serif;
    font-size: 1.3125rem;
    font-weight: 400;
    text-shadow: 0 1px 2px hsl(0deg 0% 100% / 99%);
    white-space: nowrap;
}

label {
    display: block;
    margin-bottom: 0.3575em;
}

label {
    cursor: default;
}

*,
 :after,
 :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

div {
    display: block;
}

.info-page .info-page-container .info-form .info-inputs {
    margin: 1.4375rem auto 2.625rem auto;
    text-align: center;
}

.info-page .info-form {
    text-align: center;
}

.info-page .info-page-container .info-form .info-inputs .button-default.active {
    background-color: #27bfcf;
    -webkit-box-shadow: 0 1px 0 0 rgb(0 0 0 / 12%);
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 12%);
    color: #fff;
    outline: 0;
    -webkit-transition: .5s;
    transition: .5s;
}

.info-page .info-page-container .info-form .info-inputs .male-button {
    margin-right: 0.1875rem;
}

.info-page .info-page-container .info-form .info-inputs .female-button,
.info-page .info-page-container .info-form .info-inputs .male-button {
    border: none;
    padding: 1.0313rem 2.1875rem;
    margin-left: 0;
}

.info-page .info-page-container .info-form .info-inputs .button-default {
    background-color: #e7f2f9;
    -webkit-box-shadow: 0 1px 0 0 rgb(0 0 0 / 12%);
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 12%);
    color: #333;
    cursor: pointer;
    display: inline;
    font-family: Source Sans Pro, Verdana, sans-serif;
    font-size: 1.0625rem;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s;
    vertical-align: middle;
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button;
}

.webmd-button--primary {
    background-color: #0078bf;
    color: #fff;
}

.webmd-button {
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    border-radius: 0.1875rem;
    white-space: nowrap;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    border-style: none;
    -webkit-transition: .1s;
    transition: .1s;
    font-family: Source Sans Pro, Verdana, sans-serif;
    background: #fff;
    color: #606266;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.webmd-button,
.webmd-button--medium {
    font-size: 17px;
    padding: 12px 24px;
}

.webmd-button,
.webmd-input__inner,
.webmd-message-box.large,
.webmd-textarea__inner {
    -webkit-box-sizing: border-box;
}

.webmd-button,
.webmd-input__inner {
    -webkit-appearance: none;
    font-stretch: normal;
    -webkit-box-sizing: border-box;
}

.webmd-button {
    font-stretch: normal;
    -webkit-appearance: none;
}

button {
    border: none;
}

button,
select {
    text-transform: none;
}

button,
input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.info-page .info-page-container .info-form .info-inputs .female-button,
.info-page .info-page-container .info-form .info-inputs .male-button {
    border: none;
    padding: 1.0313rem 2.1875rem;
    margin-left: 0;
}

.info-page .info-page-container .info-form .info-inputs .button-default {
    background-color: #e7f2f9;
    -webkit-box-shadow: 0 1px 0 0 rgb(0 0 0 / 12%);
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 12%);
    color: #333;
    cursor: pointer;
    display: inline;
    font-family: Source Sans Pro, Verdana, sans-serif;
    font-size: 1.0625rem;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s;
    vertical-align: middle;
}

.webmd-button+.webmd-button {
    margin-left: 0.625rem;
}

.info-page .info-page-container .info-form .hide-at-first .disabled-button {
    background: #e8e6e6;
    cursor: default;
}

.info-page .info-page-container .info-form .hide-at-first .continue-button {
    background: #1f97dc;
    border-radius: 0.1875rem;
    height: 2.8125rem;
    padding: 0 1.125rem;
    position: relative;
    width: 100%;
}

.info-page .info-page-container .info-form .hide-at-first .info-button {
    margin: 1.25rem auto 0 auto;
    max-width: 12.5rem;
    z-index: 1;
}

.widget-container .solid-button[disabled] {
    background-color: #e8e6e6;
    cursor: default;
}

.widget-container .continue-button {
    margin-left: 5px;
    margin-right: 16px;
    max-width: 160px;
    white-space: nowrap;
}

.widget-container .solid-button {
    background-color: #1f97dc;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px 0 rgb(13 19 37 / 6%);
    box-shadow: 0 1px 1px 0 rgb(13 19 37 / 6%);
    color: #fff;
    display: block;
    font-family: Source Sans Pro, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 45px;
    line-height: .9;
    margin: 0 auto;
    max-width: 200px;
    padding-left: 18px;
    padding-right: 17px;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s;
    width: 100%;
}

.solid-button[disabled] {
    background-color: #e8e6e6;
    cursor: default;
}

.continue-button:disabled {
    background-color: #e8e6e6;
}

.webmd-button--primary:disabled {
    background-color: #e8e6e6;
    color: #767674;
}

.solid-button {
    background-color: #1f97dc;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px 0 rgb(13 19 37 / 6%);
    box-shadow: 0 1px 1px 0 rgb(13 19 37 / 6%);
    color: #fff;
    display: block;
    font-family: Source Sans Pro, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 45px;
    line-height: .9;
    margin: 0 auto;
    max-width: 200px;
    padding-left: 18px;
    padding-right: 17px;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s;
    width: 100%;
}

.continue-button {
    background-color: #197fba;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    -ms-flex-preferred-size: 0%;
    flex-basis: 0%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    font-family: Source Sans Pro, Verdana, sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    height: auto;
    letter-spacing: normal;
    line-height: 14.4px;
    padding: 10px;
    text-align: center;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: nowrap;
    width: 153.8px;
    word-spacing: 0;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    -webkit-font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    text-rendering: auto;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
}

.continue-button {
    margin-left: 0;
}

.webmd-button--primary {
    background-color: #0078bf;
    color: #fff;
}

.webmd-button {
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    border-radius: 0.1875rem;
    white-space: nowrap;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    border-style: none;
    -webkit-transition: .1s;
    transition: .1s;
    font-family: Source Sans Pro, Verdana, sans-serif;
    background: #fff;
    color: #606266;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.webmd-button,
.webmd-button--medium {
    font-size: 17px;
    padding: 12px 24px;
}

.webmd-button,
.webmd-input__inner,
.webmd-message-box.large,
.webmd-textarea__inner {
    -webkit-box-sizing: border-box;
}

.webmd-button,
.webmd-input__inner {
    -webkit-appearance: none;
    font-stretch: normal;
    -webkit-box-sizing: border-box;
}

.webmd-button {
    font-stretch: normal;
    -webkit-appearance: none;
}

button {
    border: none;
}

button,
select {
    text-transform: none;
}

button,
input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}